{% extends 'base.html' %}
{% load static %}
{% block content %}
<div  class="header" >
      <h1 class="text-center">Sign up</h1>
    </div>
<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<form action="{% url 'register' %}" method="post" class="form-control">
			{% csrf_token %}
			 {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
			    </div> <!-- form-group// -->

			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="/accounts/login/">Log In</a></p>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->
{% endblock %}